container_commands:
  00_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mozio/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "staticfiles/"
